$codurance-red: #d60d74;
$codurance-orange: #ef7726;
$codurance-yellow: #ffd000;
$codurance-purple: #5c64b9;
$codurance-green: #185466;
$codurance-light-green: #51bfbb;
$codurance-font: 'Open Sans', Arial, sans-serif;