@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "./_colors.scss";

  
// Update Bulma Global variables
$primary: $codurance-orange;
$info: $codurance-purple;
$success: $codurance-light-green;
$warning: $codurance-yellow;
$danger: $codurance-red;
$dark: $codurance-green;
$family-primary: $codurance-font;

// Import bulma.sass is always after declaring the variables
@import "../node_modules/bulma/bulma.sass";
@import "./overrides.scss";
@import "./custom.scss";
