@import "./_colors.scss";

h1 {
    @extend .title, .is-1;
}

h2 {
    @extend .title, .is-2;
}

h3 {
    @extend .title, .is-3;
}

h4 {
    @extend .title, .is-4;
}

h5 {
    @extend .title, .is-5;
}

h6 {
    @extend .title, .is-6;
}

ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-top: 1em;
}

ol {
    margin-left: 2em;
    margin-top: 1em;
}

.highlighter-rouge {
    margin-top: 1.5em;
}

.card-content .content a {
    color: $codurance-orange;
}

.card-footer a, .tabs li a, .breadcrumb a, a {
    color: $codurance-green;
}

.tabs.is-toggle li.is-active a {
    background-color: $codurance-orange;
    border-color: $codurance-orange;
    color: #fff;
    z-index: 1;
}

.breadcrumb li.is-active a {
    color: $codurance-orange;
}

.breadcrumb a:hover, .tabs a:hover, a:hover {
    color: $codurance-light-green;
}